{% extends "base.html" %}

{% block head %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB3vnzlRv9RGwQ9FT5BEK9MrQxJuyf4p8&callback=initMap"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/static/mapstyles.js"></script>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--   Load dependencies for Vega-Lite (Vega-Embed, Vega, and Vega-Lite) -->
  <script src="https://cdn.jsdelivr.net/npm/vega@4.3.0/build/vega.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc9/build/vega-lite.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.24.1/build/vega-embed.js"></script>


  <script src="/static/counties.js"></script>

  <style type="text/css">
      
      #counties-map {
        height: 500px;
      }
  </style>

{% endblock %}

{% block content %}

    <h1>Oregon K-12 Student Homelessness Statistics</h1>

    <br>
    <br>

    <div id="counties-map"></div>

    <h2>Statewide Statistics</h2>

    <script type="module">
    // Load the Observable runtime and inspector.
    import {Runtime, Inspector} from "https://unpkg.com/@observablehq/notebook-runtime?module";

    // Observable notebook, compiled as an ES module.
    import notebook from "https://api.observablehq.com/@ergarrity/oregon-k-12-student-homelessness-statistics.js";


    Runtime.load(notebook, (variable) => {
      if (variable.name === "statewide_chart_solidbar") return {
        fulfilled: (value) => document.body.appendChild(value)
      };        
    });

    Runtime.load(notebook, (variable) => {
      if (variable.name === "statewide_chart_stackedbar") return {
        fulfilled: (value) => document.body.appendChild(value)
      };        
    });

    </script>


    

{% endblock %}