{% extends "base.html" %}

{% block content %}

    <h1>Oregon K-12 Student Homelessness Statistics</h1>

    <br>
    <br>
    <h2>County</h2>
    <a href="/baker">Baker</a><br>
    <a href="/benton">Benton</a><br>
    <a href="/clackamas">Clackamas</a><br>
    <a href="/clatsop">Clatsop</a><br>
    <a href="/columbia">Columbia</a><br>
    <a href="/coos">Coos</a><br>
    <a href="/crook">Crook</a><br>
    <a href="/curry">Curry</a><br>
    <a href="/deschutes">Deschutes</a><br>
    <a href="/douglas">Douglas</a><br>
    <a href="/gilliam">Gilliam</a><br>
    <a href="/grant">Grant</a><br>
    <a href="/harney">Harney</a><br>
    <a href="/hoodriver">Hood River</a><br>
    <a href="/jackson">Jackson</a><br>
    <a href="/jefferson">Jefferson</a><br>
    <a href="/josephine">Josephine</a><br>
    <a href="/klamath">Klamath</a><br>
    <a href="/lake">Lake</a><br>
    <a href="/lane">Lane</a><br>
    <a href="/lincoln">Lincoln</a><br>
    <a href="/linn">Linn</a><br>
    <a href="/malheur">Malheur</a><br>
    <a href="/marion">Marion</a><br>
    <a href="/morrow">Morrow</a><br>
    <a href="/multnomah">Multnomah</a><br>
    <a href="/polk">Polk</a><br>
    <a href="/sherman">Sherman</a><br>
    <a href="/tillamook">Tillamook</a><br>
    <a href="/umatilla">Umatilla</a><br>
    <a href="/union">Union</a><br>
    <a href="/wallowa">Wallowa</a><br>
    <a href="/wasco">Wasco</a><br>
    <a href="/washington">Washington</a><br>
    <a href="/wheeler">Wheeler</a><br>
    <a href="/yamhill">Yamhill</a><br>

    

{% endblock %}