{% extends 'base.html' %}
{% block title %} Different Title {% endblock %}
{% block head %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB3vnzlRv9RGwQ9FT5BEK9MrQxJuyf4p8&callback=initMap"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/static/mapstyles.js"></script>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <script src="/static/counties.js"></script>

  <style type="text/css">
      
      #counties-map {
        height: 500px;
        width: 700px;
      }
  </style>

{% endblock %}


{% block content %}
   <div id="counties-map"></div>
{% endblock %}