{% extends "base.html" %}

{% block content %}

<script type="module">
  // Load the Observable runtime and inspector.
  import {Runtime, Inspector} from "https://unpkg.com/@observablehq/notebook-runtime?module";

  // Your notebook, compiled as an ES module.
  import notebook from "https://api.observablehq.com/@ergarrity/oregon-k-12-student-homelessness-statistics.js";

  Runtime.load(notebook, (variable) => {
  if (variable.name === "josephine_chart") return {
    fulfilled: (value) => document.body.appendChild(value)
  };        
});

</script>

    <h1>Josephine County Statistics</h1>


    

{% endblock %}