{% extends "base.html" %}

{% block head %}
<!-- Add boostrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}

<script type="module">
  // Load the Observable runtime and inspector.
  import {Runtime, Inspector} from "https://unpkg.com/@observablehq/notebook-runtime?module";

  // Your notebook, compiled as an ES module.
  import notebook from "https://api.observablehq.com/@ergarrity/oregon-k-12-student-homelessness-statistics.js";

  Runtime.load(notebook, (variable) => {
  if (variable.name === "multnomah_chart") return {
    fulfilled: (value) => document.body.appendChild(value)
  };        
});

</script>

    <h1>Multnomah County Statistics</h1>


    

{% endblock %}